h1, h2, h3, h4, h5, h6, p, span {
	color: white;
}

.btn {
	background-color: #2e7d32;
	margin-bottom: 15px;
}

body {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749703/Nhi's%20Website/WoW%20Memory%20Game/wow_wallpaper.jpg");
	background-size: cover;
}

.row {
	padding-left: 30px;
}

.image {
	height: 170px;
	width: 150px !important;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px;
}

.card {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's Website/WoW Memory Game/wow_logo.png") !important;
	cursor: pointer;
}

.death_knight {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/death_knight.png");
}

.demon_hunter {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/demon_hunter.png");
}

.druid {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/druid.png");
}

.hunter {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/hunter.png");
}

.mage {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/mage.png");
}

.monk {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's Website/WoW Memory Game/monk.png");
}

.paladin {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's Website/WoW Memory Game/paladin.png");
}

.priest {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/priest.png");
}

.rogue {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/rogue.png");
}

.shaman {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/shaman.png");
}

.warlock {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/warlock.png");
}

.warrior {
	background-image: url("https://res.cloudinary.com/taylorwu21/image/upload/v1471749701/Nhi's%20Website/WoW%20Memory%20Game/warrior.png");
}
